confluent-kafka
docker
evidently
great-expectations==0.17.23
hopsworks
kedro
kedro-datasets
kedro-docker
kedro-telemetry
kedro_mlflow
matplotlib
mlflow
nannyml
numpy
optuna
optuna-integration
pandas
pandas_ta
plotly
prefect
scikit-learn
scipy
seaborn
shap
xgboost
ydata-profiling
yfinance
